<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="container"> 
<%=render 'home/header'%>
<div class="alert alert-info" role="alert">
  This is a info alert—check it out!
<%= yield %>
</div>


</body>
</html>
